<div>
  <button type="button" (click)="redirectToHome()">Home</button>
</div>

<p>
  You are reading about <b>{{name}}</b> planet
</p>
<table>
  <tr>
    <td>Rotation period</td>
    <td>{{rotation_period}}</td>
  </tr>
  <tr>
    <td>Orbital period</td>
    <td>{{orbital_period}}</td>
  </tr>
  <tr>
    <td>Diameter</td>
    <td>{{diameter}}</td>
  </tr>
  <tr>
    <td>Climate</td>
    <td>{{climate}}</td>
  </tr>
  <tr>
    <td>Gravity</td>
    <td>{{gravity}}</td>
  </tr>
  <tr>
    <td>Terrain</td>
    <td>{{terrain}}</td>
  </tr>
  <tr>
    <td>Surface water</td>
    <td>{{surface_water}}</td>
  </tr>
  <tr>
    <td>Population</td>
    <td>{{population}}</td>
  </tr>
</table>
